html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-size: 2rem;
}


h1{
    font-size: 3.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.8rem;
}

.contenedor{
    width: 120rem;
    max-width: 90%;
    margin: 0 auto;
}

.imagen-header{
    background-image: url(../img/imagenTabletas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

.icono-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-icono{
    width: 20rem;
    margin-top: 20rem;
}

.contenido{
    margin: 15rem 0 5rem 0;
    text-align: center;
}

.Contenedor-botones{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.boton{
    background-color: #6DF2A2;
    padding: 1.5rem 7rem;
    border-radius: 1.3rem;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}

.boton:hover{
    background-color: #60E796;
    cursor: pointer;
}


/* log in */

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;
}

.contenido-campos{
    display: flex;
    flex-direction: column;
}

.contenido-campos input{
    padding: 0.8rem;
    width: 30rem;
    border: 1px solid #E1E1E1;
    border-radius: 1.2rem;
}

/* catalogo */

.productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.imagen-producto{
    max-width: 100%;
    border-radius: 1rem;
}

.contenido-producto{
    background-color: #60E796;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 100%;
}